
# Cronjob support
aiocron

# Development tools
coverage
croniter

# Signal BOT
dbussy

# Signal BOT
dbussy

# Human-readable time deltas
humanize==3.5.0
mysql-connector
paho-mqtt
python-daemon

# Telegram BOT
python-telegram-bot
quart
redis
