
# Cronjob support
aiocron==1.6

# Development tools
croniter==1.0.13

# Signal BOT
dbussy==1.3

# Human-readable time deltas
humanize==3.5.0
# Transient pinned to stabilise tests
Jinja2==3.0.1
mock
mysql-connector==2.2.9
paho-mqtt==1.5.1
pytest
pytest-asyncio==0.21.1
pytest-cov
python-daemon==2.3.0

# Telegram BOT
python-telegram-bot==13.5
quart==0.15.1
redis==3.5.3
Werkzeug==2.0.1
