
# Cronjob support
aiocron==1.6

# Development tools
croniter==1.0.13

# Human-readable time deltas
humanize==3.5.0

# Pinned jinja2 version
jinja2<3.1.0
mysql-connector==2.2.9
paho-mqtt==1.5.1
pytest
pytest-cov
python-daemon==2.3.0

quart==0.15.1
redis==3.5.3
requests==2.31.0
